* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section ul {
    list-style: none;
    display: flex;
}

.road-assistance {
    display: flex;
    padding-left: 20px;
}
.right-section ul li {
    margin-right: 20px;
}

.right-section ul li a {
    text-decoration: none;
    color: #000;
}

.right-section .nagivation {
    border-right: 2px solid #ccc;
}

.road-assistance .icon {
    margin-right: 10px;
}

.flex {
    display: flex;
}

#hero-section .text-section {
    width: 45%;
}

#hero-section .image-section {
    width: 55%;
}

#hero-section, #quote-section {
    padding: 80px 0;
}

#hero-section .image-section {
    background-image: url(../img/header-image.png);
    background-size: cover;
    background-position: center;
    min-height: 68vh;
}

.text-section h1{
    font-size: 64px;
}

.orange-btn {
    background: #ff6433;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 35px;
    display: inline-block;
    color: #fff;
}

.time-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.text-section .image-box {
    width: 5%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-section .time-text {
    width: 95%;
}
.time-section img {
    width: 100%;
}

.light-grey {
     color: #939191;
}

#quote-section {
    background: #E2E6E9;
}

#quote-section .left-section, #quote-section .right-form-section {
    width: 55%;
}

#quote-section ul {
    list-style: none;
}

#quote-section ul li {
    margin-bottom: 20px;
}

#quote-section .left-section h2 {
    margin-bottom: 30px;
    font-size: 58px;
}

#quote-section .left-section .image-box {
    width: 6%;
    margin-right: 10px;
}

#quote-section .left-section .image-box img {
    width: 100%;
}

#quote-section .left-section .text-box {
    width: 50%;
}

#quote-section .left-section .text-box h5 {
    font-size: 24px;
    margin-bottom: 5px;
}

#quote-section .left-section .text-box a {
    text-decoration: none;
    color: black;
}

#quote-section .right-form-section h3 {
    font-size: 48px;
}

form {
    margin-top: 20px;
}

#quote-section .right-form-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 3px;
    border: none;
    border-radius: 2px;
}

#hero-section, #quote-section, #process-section {
    padding: 80px 0;
}

#process-section {
    background: #fff;
}

#process-section .process-text, #process-section .right-process {
    width: 50%;
}

.justify-between {
    justify-content: space-between;
}

#process-section .process-text h2 {
    margin-bottom: 30px;
    margin-right: 50px;
    font-size: 50px;
}

#process-section .process-text p {
    font-size: 16px;
    color: #1E1B1B;
    opacity: 0.6;
    width: 60%;
}

#process-secton .right-process .image-div {
    width: 50%;
    margin-right: 20px;
}

#process-section .process-img-1, .process-img-2, .process-img-3 {
    width: 40px;
}

#process-section .right-process .get-a-quote h4 {
    font-size: 26px;
    margin-left: 10px;
    padding-bottom: 10px;
}

#process-section .right-process .get-a-quote p {
    margin-left: 10px;
}

.vertical-line {
    border-left: 1px dashed #FF6433;
    height: 45px;
    margin-left: 4%;
    margin-top: -20px;
    margin-bottom: 20px;
}

#hero-section, #quote-section, #process-section, #offer-section {
    padding: 80px 0;
}

#offer-section {
    background: #F2F2f2;
}

.flex {
    display: flex;
    justify-content: center;
}

#offer-section .offer-header h4{
     font-size: 24px;
     text-align: center;
}

#offer-section .offer-header h6 {
    font-size: 48px;
    text-align: center;
}

#offer-section .flex-aligned {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

#offer-section .flex-aligned img {
    width: 60%;
}

#offer-section .flex-box {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    height: 180px;
    width: 180px;
    background-color: #fff;
    margin-bottom: 1%;
    margin-right: 1%;
    color: #000;
}

#offer-section .flex-box p {
    padding-top: 5px;
}

#offer-section .flex-box:hover {
    background-color: #FF6433;
    color: #fff;
    font-weight: bold;
}

#offer-section .flex-box.selected {
    background-color: #FF6433;
    color: #fff;
    font-weight: bold;
}

#offer-section .offer-link {
    justify-content: flex-end;
    width: 60%;
    margin: 0 auto;
    padding-top: 10px;
}

#offer-section .offer-link a{
    color: #000;
    font-size: 18px;
    text-decoration: none;
}

#offer-section .offer-link a:hover {
    color: #FF6433;
}

#hero-section, #quote-section, #process-section, #offer-section, #Contact-us-section {
    padding: 80px 0;
}

#Contact-us-section {
     background: #F2F2f2;
}

#Contact-us-section .contact-image {
    background-image: url(../img/contact\ 1.png);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 40vh;
}

#Contact-us-section .contact-image2 {
    background-image: url(../img/contact\ 2.png);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 40vh;
}

#Contact-us-section .contact-text {
    background-color: #FF6433;
    height: 40vh;
    width: 70%;
    margin-left: 35%;
}

#Contact-us-section .contact-textbox h3 {
    font-size: 25px;
    color: #fff;
    width: 75%;
    text-align: center;
    margin-left: 20px;
    padding-top: 60px;
}

#Contact-us-section .button {
    width: 60%;
    margin-left: 20px;
}

#Contact-us-section .black-btn {
    background: #000;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 35px;
    display: inline-block;
    color: #fff;
}

.experience {
    margin-top: 5%;
}

.flex-numbers {
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
}

.ratings {
    font-size: 50px;
    font-weight: bold;
    color: #661CE7;
}

.experience p {
    opacity: 0.7;
}

#hero-section, #quote-section, #process-section, #offer-section, #Contact-us-section, #Brands-section {
    padding: 80px 0;
}

#Brands-section {
    background: #FAFAFA;
}

#Brands-section {
    padding-bottom: 70px;
}

#Brands-section .brands h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 120%;
}

#hero-section, #quote-section, #process-section, #offer-section, #Contact-us-section, #Brands-section, #testi-section {
    padding: 80px 0;
}

#testi-section {
    background: #F2F2f2;
}

#testi-section .testi-slider {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

#testi-section .testi-slide {
    width: 48%;
    background-color: #fff;
    border: 1px solid #ACACAC4A;
    padding: 30px;
    box-shadow: 11px 130px 100px 30px rgba(0, 0, 0, 0.02);
    border-radius: 6px;
}

.container h2 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
}

.testi-person {
    display: flex;
    margin: 10px;
}

.testi-image {
    width: 60px;
    height: 64px;
    margin-right: 10px;
    padding-top: 5px;
}

.testi-person h5 {
    font-size: 24px;
    color: #1E1B1B;
    padding-left: 80px;
    margin-top: 10px;
    position: absolute;
}

.testi-person p {
    color: #939191;
    font-size: 16px;
    padding-left: 80px;
    margin-top: 40px;
    position: absolute;
}

.testimony p {
    color: #000;
    font-size: 20px;
    padding: 20px;
    font-weight: 600;
}

.testi-navigation{
    display: flex;
    margin: 3%;
    margin-left: 45%;
}

#faq-section {
    padding: 80px 0;
    min-height: 100vh;
    background: #E2E6E9;
}

.faq-main-box{
    width: 60%;
    height: 600px;
    margin: 0 auto;
}

.faq-main-box .faq-box {
    background: #fff;
    padding: 20px;
    margin-bottom: 10px;
}

.faq-box .header-section .faq-symbols {
    background: #FF6433;
    color: white;
    width: 40px;
    height: 45px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.faq-box .header-section {
    display: flex;
    justify-content: space-between;
}

.faq-box .header-section h4 {
    color: #000;
    font-weight: 600;
    font-size: 24px;
}

.faq-box .answer-section {
    font-size: 16px;
    color: #939191;
   padding-top: 10px;
}

.faq-box .answer-section .answer-box {
   width: 80%; 
}

#footer-section {
    padding: 80px 0;
    background: #1E1B1B;
    opacity: 0.98;
}

#footer-section .footer-left, #footer-section .footer-right{
    width: 50%;
}

#footer-section .footer-right ul li {
    margin-bottom: 20px;
    list-style: none;
}

.footer-left h2 {
    color: #fff;
    font-size: 48px;
    margin-left: 20%;
}

.footer-left .footer-box {
    margin-left: 20%;
    margin-top: 30px;
}

.footer-right .footer-text {
    width: 50%;
}

.light-white {
    font-size: 12px;
    color: #ffffff;
    opacity: 0.6;
}

.footer-right p {
    color: #ffffff;
}

#bottom-section {
    background: #1E1B1B;
}

.main-bottom {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.right-bottom-section {
    display: flex;
}

.right-bottom-section ul {
    list-style: none;
    display: flex;
}

.right-bottom-section ul li {
   font-size: 12px;
}

.right-bottom-section ul li a {
    text-decoration: none;
    color: #fff;
    margin-right: 50px;
}

.copy-right {
    color: #939191;
    font-size: 12px;
    margin-top: 20px;
}

/* mobile view */
@media (max-width: 426px) {
    .main-header {
        flex-direction: column;
        align-items: flex-start;
        margin: 0px;
        padding: 30px;
    } 

    .right-section {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        display: none;
    }

    .right-section .nagivation ul {
        flex-direction: column;
    }

    .right-section .nagivation {
        border: none;
        width: 100%;
    }

    .right-section ul li {
        padding: 10px 0;
        margin-right: 0;
    }

    .right-section ul li a {
        display: block;
    }

    .road-assistance {
        padding: 10px 0;
    }

    .flex-sm-column {
        flex-direction: column;
    }

    #hero-section .text-section, #hero-section .image-section {
        width: 100%;
    }

    #hero-section .text-section {
        order: 2;
        padding: 5px;
    }

    #hero-section .image-section {
        order: 1;
        width: 100%;
        margin-bottom: 30px;
    }

    .text-section h1 {
        font-size: 35px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .text-section .image-box {
        margin-left: 20px;
    }

    .orange-btn {
        margin-left: 20px;
    }

    #quote-section .left-section, #quote-section .right-form-section {
        width: 100%;
    }

    #quote-section .left-section .image-box {
        width: 10%;
    }

    #quote-section .left-section .text-box {
        width: 80%;
    }

    #quote-section .left-section h2 {
        font-size: 35px;
        padding-right: 20%;
    }

    #quote-section ul {
        padding-left: 20px;
    }

    #quote-section .right-form-section h3 {
        font-size: 35px;
        padding: 15px;
    }

    #quote-section .left-section {
        margin-bottom: 40px;
    }

    #quote-section .left-section .text-box a {
        margin-left: 40%;
    }

    form {
        margin-left: 30px;
        width: 80%;
    }

    .orange-btn {
        font-size: 14px;
        margin-left: 10px;
    }

    #process-section .process-text, #process-section .right-process {
        width: 100%;
    }

    #process-section .container {
        width: 80%;
    }

    #process-section .process-text h2 {
        width: 100%;
        font-size: 35px;
        padding: 15px;
    }

    #process-section .process-text p {
        width: 100%;
        margin-left: 15px;
        font-size: 20px;
    }

    #process-section .process-text {
        padding-bottom: 40px;
    }

    #offer-section .offer-header h4 {
        margin-bottom: 10px;
        font-size: 15px;
    }

    #offer-section .offer-header h6 {
        font-size: 23px;
        margin-bottom: 10px;
    }

    #offer-section .flex-aligned {
        width: 100%;
    }

    #offer-section .offer-link {
        width: 45%;
    }

    #Contact-us-section .contact-image {
        width: 100%;
        height: 130px;
        margin-bottom: 15%;
    }

    #Contact-us-section .contact-text {
        height: 90px;
        margin: 15px 0;
        margin-top: 25%;
        width: 100%;
    }

    #Contact-us-section .contact-textbox h3 {
        height: 40px;
        font-size: 14px;
        margin-bottom: 10px;
        margin-left: 10px;
        padding-top: 16px
    }

    #Contact-us-section .black-btn {
        padding: 5px 15px;
        font-size: 14px;
        margin-top: 1px;
        margin-left: 30%;
    }

    #Contact-us-section .contact-image2 {
        width: 100%;
        height: 100px;
    }

    .container {
        width: 100%;
    }

    .experience {
        text-align: center;
    }

    #Brands-section .brands h2 {
        font-size: 40px;
    }

    .brand-images {
        flex-direction: column;
    }

    .brand-images .image-row {
        width: 60%;
    }

    #testi-section .testi-slider {
        flex-direction: column;
    }

    #testi-section .testi-slide {
        width: 100%;
    }

    .testimony p {
        font-size: 14px;
    }

    .testi-navigation {
        margin-left: 30%;
    }

    #faq-section .container {
        width: 80%;
        padding-bottom: 50px;
    }

    #faq-section .container h2 {
        /* padding-bottom: 30px; */
        font-size: 35px;
    }

    .faq-main-box {
        width: 100%;
    }

    .answer-box p {
        font-size: 12px;
    }

    #footer-section .footer-left {
        width: 100%;
        padding-right: 10%;
    }

    .footer-left h2 {
        font-size: 30px;
    }

    #footer-section .footer-right {
        width: 100%;
        margin-top: 30px;
        padding-right: 30px;
    }

    .footer-right .footer-text {
        margin-right: 10%;
    }

    .footer-right p {
        /* margin: 10px; */
        font-size: 12px;
    }

    .main-bottom {
        flex-direction: column;
    }

    .right-bottom-section ul {
        flex-direction: column;
    }

    .right-bottom-section ul li {
        padding: 10px 0;
        /* margin-right: 0; */
        margin-left: 30px;
    }

    .right-bottom-section .nagivation {
        text-align: center;
    }

    }